<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Home Page for Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename ='css/styles.css') }}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">酒店管理系统</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
       <div class="sb-sidenav-dark"><a class="sb-sidenav-dark" style="text-decoration: none" href="/manager_passwordChange">退出登录</a>   |   
        <a class="sb-sidenav-dark" style="text-decoration: none" href="/manager_passwordChange">修改密码</a></div> 
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/manager_login">经理</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                 <li><a class="dropdown-item" href="/waiter_login">前台</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="/guest_homePage">顾客</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">for Hotel</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRoom"
                       aria-expanded="false" aria-controls="collapseRoom">
                        <div class="sb-nav-link-icon"><i class="fa fa-building"></i></div>
                        房间信息
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseRoom" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/manager_room_show">展示房间信息</a>
                            <a class="nav-link" href="/manager_room_insert">录入房间信息</a>
                            <a class="nav-link" href="/manager_room_delete">删除房间信息</a>
                        </nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePrice"
                       aria-expanded="false" aria-controls="collapsePrice">
                        <div class="sb-nav-link-icon"><i class="fa fa-database"></i></div>
                        住房价格
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePrice" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/manager_codeInf_show">展示住房价格</a>
                            <a class="nav-link" href="/manager_codeInf_update">修改住房价格</a>
                        </nav>
                    </div>


                    <div class="sb-sidenav-menu-heading">for Waiter</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRec"
                       aria-expanded="false" aria-controls="collapseRec">
                        <div class="sb-nav-link-icon"><i class="fa fa-desktop"></i></div>
                        前台员工信息
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseRec" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/manager_receptionist_show">展示前台员工信息</a>
                            <a class="nav-link" href="/manager_receptionist_insert">录入前台员工信息</a>
                            <a class="nav-link" href="/manager_receptionist_delete">删除前台员工信息</a>
                            <a class="nav-link" href="/manager_receptionist_update">修改前台员工信息</a>
                        </nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseWaiter"
                       aria-expanded="false" aria-controls="collapseWaiter">
                        <div class="sb-nav-link-icon"><i class="fa fa-fire-extinguisher"></i></div>
                        服务人员信息
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseWaiter" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/manager_waiter_show">展示服务人员信息</a>
                            <a class="nav-link" href="/manager_waiter_insert">录入服务人员信息</a>
                            <a class="nav-link" href="/manager_waiter_delete">删除服务人员信息</a>
                            <a class="nav-link" href="/manager_waiter_update">修改服务人员信息</a>
                        </nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseHistory"
                       aria-expanded="false" aria-controls="collapseHistory">
                        <div class="sb-nav-link-icon"><i class="fa fa-th-list"></i></div>
                        员工工作历史记录
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseHistory" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/manager_workHistory_show">展示员工工作历史</a>
                        </nav>
                    </div>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseWorker"
                       aria-expanded="false" aria-controls="collapseWorker">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        员工分工管理
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseWorker" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/manager_employeeRoom_show">展示员工分工信息</a>
                            <a class="nav-link" href="/manager_employeeRoom_insert">分配员工分工</a>
                            <a class="nav-link" href="/manager_employeeRoom_insert">删除员工分工信息</a>
                            <a class="nav-link" href="/manager_employeeRoom_update">修改员工分工信息</a>
                        </nav>
                    </div>


                    <div class="sb-sidenav-menu-heading">for Guest</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseGuest"
                       aria-expanded="false" aria-controls="collapseGuest">
                        <div class="sb-nav-link-icon"><i class="fa fa-address-book"></i></div>
                        顾客信息
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseGuest" aria-labelledby="headingThree"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion">
                            <a class="nav-link" href="/manager_customer_show">展示顾客基本信息</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">身份是:</div>
                经理
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">经理系统主页</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">酒店管理系统</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        子首页，身份为经理
                    </div>
                </div>
                <div class="row row-cols-3">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-5">
                            <div class="card-body">前台员工入职</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/manager_receptionist_insert">前往录入前台入职信息</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-3">
                            <div class="card-body">前台员工离职</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/manager_receptionist_delete">前往录入前台离职信息</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-3">
                            <div class="card-body">服务人员入职</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/manager_waiter_insert">前往录入服务人员入职信息</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-3">
                            <div class="card-body">服务人员离职</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/manager_waiter_delete">前往录入服务人员离职信息</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-3">
                            <div class="card-body">录入房间信息</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/manager_room_insert">前往录入房间信息</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-3">
                            <div class="card-body">更新定价策略</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="/manager_codeInf_update">前往更新定价策略</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; database G44 2021</div>
                    <div>
                        <a href="#"  style="text-decoration: none" >回到顶部</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename ='js/scripts.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename ='js/datatables-simple-demo.js') }}"></script>
</body>
</html>
